@import url('https://fonts.cdnfonts.com/css/general-sans');
@import "tailwindcss";

:root {
  font-family: General Sans, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

